<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <form method="POST" action="/login_validation">
            <center> Username: <input type="text" name="username" placeholder="Enter your username"><br></center>
            <center> Password: &nbsp;<input type="password" name="password" placeholder="Enter your password"><br></center>
            <center><input type="submit" value="Log in"><br></center>
        </form>
        Not an account? <a href="/signin">Create a new account</a>
    </main>
</body>
</html>