<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <form method="POST" action="/signup_form">
            <center> Username: <input type="text" name="username" placeholder="Create a username"><br></center>
            <center> Password: &nbsp;<input type="password" name="password" placeholder="Create a password"><br></center>
            <center> fname: <input type="text" name="fname" placeholder="Enter your first name"><br></center>
            <center> lname: &nbsp;<input type="text" name="lname" placeholder="Enter your last name"><br></center>
            <center><input type="submit" value="Sign in"></center>
        </form>
        Already have an account? <a href="/">Login with your account</a>
        {% if msg %}
        {{msg}}
        {% endif %}
    </main>
    <footer>

    </footer>
</body>
</html>