<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form>
            <center> Username: <input type="text" name="utext" placeholder="Create a username"><br></center>
            <center> Password: &nbsp;<input type="password" name="ptext" placeholder="Create a password"><br></center>
            <center><input type="submit" value="Sign in"></center>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>